#container {
	font-family: "新宋体";
    padding: 10px;
	margin-bottom: 15px;
}
#topic_title {
	font-family: "新宋体";
    padding: 10px;
	margin-bottom: 15px;
}
#topic_content {
	font-family: "新宋体";
    padding: 10px;
	margin-bottom: 15px;
}
#related_topic {
	font-family: "新宋体";
    padding: 10px;
	margin-bottom: 15px;
}
